.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 500px;
}

.box {
  width: 12%;
  height: 25%;
  border: 2px solid lightgray;
  transition: background-color .1s ease-in;
}


